.form {
    
margin:auto;
width:1px;
}

.field {
    width: 200px;
    height: 36px;
    border-color: cornflowerblue;
    border-style: solid;
}

.body {
    background-color: darkcyan;
}

.input {
   background-color: darkcyan;
   border-color: cornflowerblue;
   border-style: solid;
}

::placeholder {
    color: black;
}